.text-center {
    text-align: center;
}

.p5 {
    padding: 5px; /* Assuming 'p5' means 5px of padding */
}

.border-4 {
    border: 4px solid rgb(245, 244, 244); /* Assuming 'border-4' means a 4px border */
}

.bg-red {
    background-color: rgb(179, 45, 45);
}
